# =============== #
# Unity generated #
# =============== #
src/GT3_Project/[Tt]emp/
src/GT3_Project/[Oo]bj/
src/GT3_Project/[Ll]ibrary/
src/GT3_Project/sysinfo.txt
src/GT3_Project/*.stackdump
src/GT3_Project/Assets/AssetStoreTools*
src/GT3_Project/*.apk
src/GT3_Project/*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
src/GT3_Project/[Ee]xported[Oo]bj/
src/GT3_Project/.vs/
src/GT3_Project/*.userprefs
src/GT3_Project/*.csproj
src/GT3_Project/*.pidb
src/GT3_Project/*.pidb.meta
src/GT3_Project/*.suo
src/GT3_Project/*.sln*
src/GT3_Project/*.user
src/GT3_Project/*.unityproj
src/GT3_Project/*.booproj
src/GT3_Project/.consulo/
src/GT3_Project/*.tmp
src/GT3_Project/*.svd
 
# ============ #
# OS generated #
# ============ #
src/GT3_Project/.DS_Store*
src/GT3_Project/._*
src/GT3_Project/.Spotlight-V100
src/GT3_Project/.Trashes
src/GT3_Project/Icon?
src/GT3_Project/ehthumbs.db
src/GT3_Project/[Tt]humbs.db
src/GT3_Project/[Dd]esktop.ini
src/GT3_Project/Corridor/Library/ShaderCache/
src/GT3_Project/Corridor/Library/metadata/
